* {
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    margin: 0px;
    background-image: url('bg.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 70%;
}
/* Center the loader */
#loader {
    position: absolute;
    left: 48%;
    top: 48%;
    z-index: 1;
    width: 50px;
    height: 50px;
    margin: -71px 0 0 -71px;
}


  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
 
  #b{
    display: none;
    
  }
.flex-container {
    display: -webkit-flex;
    display: flex;
    padding: 0px;
    margin: 0px;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    height: 33.33%;
}
.flex-item {
    width: 33.33%;
    height: 100%;
    text-align: center;
}
#flex1 {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 85px;
    color: red;
}
#flex2 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 85px;
    color: red;
}
#flex3 {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 85px;
    color: red;
}
#flex4 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 85px;
    color: red;
}
#flex5 {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 85px;
    color: red;
}
#flex6 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 85px;
    color: red;
}
#flex7 {

    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 85px;
    color: red;
}
#flex8 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 85px;
    color: red;
}
#flex9 {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 85px;
    color: red;
}
.facebook {
    background: #3B5998;
    color: white;
    float: left;
    width: 20%;
    font-size: 22px;
    height: 50px;
}

.twitter {
    background: #55ACEE;
    color: white;
    width: 20%;
    font-size: 22px;
    float: left;
    height: 50px;
}

.google {
    background: #1be34a;
    color: white;
    width: 20%;
    height: 50px;
    font-size: 22px;
    float: left;
}

.linkedin {
    background: #007bb5;
    color: white;
    float: left;
    height: 50px;
    font-size: 22px;
    width: 20%;
}

.youtube {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: white;
    float: left;
    height: 50px;
    font-size: 22px;
    width: 20%;
}
#navbar {
    --navbar-height: 64px;
    position: fixed;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.home-link,
.navbar-link {
    color: var(--navbar-text-color);
    transition: color 0.1s ease-in-out;
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
    transition: background-color 0.1s ease-in-out,
        color 0.1s ease-in-out;
}

.home-link:focus,
.home-link:hover {
    color: var(--navbar-text-color-focus);
}

.navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
}

.navbar-link:focus,
.navbar-link:hover {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
}

.navbar-logo {
    background-image: url("../IMAGES/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--navbar-text-color-focus);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 0.5em;
}


.navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    transition: background-color 0.1s ease-in-out,
        transform 0.1s ease-in-out,
        opacity 0.1s ease-in-out;
    background-color: var(--navbar-text-color);
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
    background-color: var(--navbar-text-color-focus);
}


#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar.opened .navbar-toggle .icon-bar:first-child {
    transform: rotate(45deg);
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar.opened .navbar-toggle .icon-bar:last-child {
    transform: rotate(-45deg);
}

.navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    transition: opacity 0.1s ease-in-out,
        visibility 0.1s ease-in-out,
        left 0.1s ease-in-out,
        right 0.1s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.navbar-menu.sidebar,
.navbar-menu.sidebar.left {
    left: -1000px;
    right: 0;
}

.navbar-menu.sidebar.right {
    right: -1000px;
    left: 0;
}

.navbar-menu.detached,
.navbar-menu.attached {
    left: 0;
    right: 0;
}

#navbar.opened .navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
}

#navbar.opened .navbar-menu.sidebar.left {
    left: 0;
}

#navbar.opened .navbar-menu.sidebar.right {
    right: 0;
}

.navbar-links {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar.opened .navbar-links {
    padding: 1em;
    max-height: none;
}

.sidebar .navbar-links {
    top: 0;
    bottom: 0;
}

.left.sidebar .navbar-links {
    left: 0;
    right: unset;
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.3);
}

.right.sidebar .navbar-links {
    right: 0;
    left: unset;
    box-shadow: -5px 20px 20px rgba(0, 0, 0, 0.3);
}

.detached .navbar-links {
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.attached .navbar-links {
    left: 0;
    right: 0;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

.navbar-item {
    margin: 0.4em;
    width: 100%;
}

@media screen and (min-width: 700px) {
    .navbar-toggle {
        display: none;
    }

    #navbar .navbar-menu,
    #navbar.opened .navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    #navbar .navbar-links,
    #navbar.opened .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        list-style-type: none;
        max-height: max-content;
        width: 100%;
        height: 100%;
    }

    #navbar .navbar-link:last-child {
        margin-right: 0;
    }
}

#options {
    display: flex;
    flex-direction: column;
}



.a {

    animation: des 1s linear infinite;
}

@keyframes des {
    0% {
        color: red;
    }

    25% {
        color: blue;
    }

    50% {
        color: yellow;
    }

    75% {
        color: #2EBF75;
    }


}


.b {

    animation: desi 1s linear infinite;
}

@keyframes desi {
    0% {
        color: #2EBF75;
    }

    25% {
        color: red;
    }

    50% {
        color: blue;
    }

    75% {
        color: yellow;
    }

}


.c {

    animation: desig 1s linear infinite;
}

@keyframes desig {
    0% {
        color: yellow;
    }

    25% {
        color: #2EBF75;
    }

    50% {
        color: red;
    }

    75% {
        color: blue;
    }


}


.d {

    animation: design 1s linear infinite;
}

@keyframes design {
    0% {
        color: blue;
    }

    25% {
        color: yellow;
    }

    50% {
        color: #2EBF75;
    }

    75% {
        color: red;
    }

}


.a:hover {
    background-color: #000;
}